*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.forgotPage{

  min-height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;

  background:
  linear-gradient(
    rgba(255,255,255,.88),
    rgba(255,255,255,.92)
  ),
  url("https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d");

  background-size:cover;
  background-position:center;
}

.forgotCard{

  width:100%;
  max-width:520px;

  background:white;

  padding:40px;

  border-radius:25px;

  border:1px solid #e5e7eb;

  box-shadow:
  0 15px 40px rgba(0,0,0,.12);
}

.forgotHeader{
  text-align:center;
  margin-bottom:30px;
}

.forgotHeader h4{
  color:#2563eb;
  font-size:24px;
  margin-bottom:10px;
}

.forgotHeader h1{
  color:#1e3a8a;
  font-size:42px;
  margin-bottom:10px;
}

.forgotHeader p{
  color:#64748b;
}

.forgotCard input{

  width:100%;

  padding:15px;

  margin-bottom:18px;

  border-radius:12px;

  border:1px solid #cbd5e1;

  outline:none;

  font-size:15px;
}

.forgotCard input:focus{

  border-color:#2563eb;

  box-shadow:
  0 0 0 4px rgba(37,99,235,.15);
}

.forgotCard button{

  width:100%;

  padding:15px;

  border:none;

  border-radius:12px;

  cursor:pointer;

  color:white;

  font-size:16px;
  font-weight:600;

  background:
  linear-gradient(
    135deg,
    #2563eb,
    #1d4ed8
  );

  transition:.3s;
}

.forgotCard button:hover{

  transform:translateY(-2px);

  box-shadow:
  0 10px 25px rgba(37,99,235,.35);
}

.timerText{

  margin-top:15px;

  text-align:center;

  color:#64748b;
}

.resendBtn{

  background:none !important;

  color:#2563eb !important;

  box-shadow:none !important;

  margin-top:10px;

  font-weight:600;
}

@media(max-width:600px){

  .forgotCard{
    padding:25px;
  }

  .forgotHeader h1{
    font-size:34px;
  }

}