*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.forgotPage{

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  padding: 20px;

  background:
    linear-gradient(
      135deg,
      #020b3d,
      #041b73,
      #032a92
    );
}

.forgotCard{

  width: 100%;

  max-width: 500px;

  background:
    rgba(255,255,255,0.08);

  backdrop-filter: blur(20px);

  border:
    1px solid rgba(255,255,255,0.1);

  border-radius: 30px;

  padding: 45px;

  color: white;
}

.forgotCard h1{

  font-size: 48px;

  margin-bottom: 10px;
}

.forgotCard p{

  color: #cbd5e1;

  margin-bottom: 35px;
}

.forgotCard input{

  width: 100%;

  height: 60px;

  border: none;

  outline: none;

  margin-bottom: 20px;

  border-radius: 18px;

  padding: 0 20px;

  font-size: 17px;

  background:
    rgba(255,255,255,0.08);

  color: white;
}

.forgotCard input::placeholder{
  color: #94a3b8;
}

.forgotCard button{

  width: 100%;

  height: 60px;

  border: none;

  border-radius: 18px;

  cursor: pointer;

  font-size: 18px;

  font-weight: bold;

  color: white;

  background:
    linear-gradient(
      90deg,
      #2563eb,
      #9333ea
    );

  transition: 0.3s;
}

.forgotCard button:hover{

  transform: translateY(-3px);
}

@media(max-width:768px){

  .forgotCard{

    padding: 30px 20px;
  }

  .forgotCard h1{

    font-size: 36px;
  }
}