.home{
  min-height:100vh;
  background:
  linear-gradient(rgba(0,0,0,0.5),
  rgba(0,0,0,0.7)),
  url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3");

  background-size:cover;
  background-position:center;

  display:flex;
  justify-content:center;
  align-items:center;

  padding:20px;
}

.overlay{
  width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
}

.home-card{

  width:100%;
  max-width:1200px;

  background:rgba(255,255,255,0.08);

  border:1px solid rgba(255,255,255,0.15);

  backdrop-filter:blur(15px);

  border-radius:30px;

  padding:60px 40px;

  text-align:center;

  box-shadow:0 8px 40px rgba(0,0,0,0.4);
}

.home-card h1{

  color:white;
  font-size:70px;
  margin-bottom:10px;
}

.home-card p{

  color:#ddd;
  font-size:24px;
  margin-bottom:50px;
}

.portal-grid{

  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

  gap:30px;
}

.portal{

  padding:40px;

  border-radius:25px;

  cursor:pointer;

  transition:0.3s;

  color:white;
}

.portal:hover{

  transform:translateY(-8px);
}

.patient{
  background:linear-gradient(135deg,#2563eb,#1d4ed8);
}

.register{
  background:linear-gradient(135deg,#16a34a,#15803d);
}

.admin{
  background:linear-gradient(135deg,#9333ea,#7e22ce);
}

.icon{

  font-size:60px;
  margin-bottom:20px;
}

.portal h2{

  font-size:28px;
  font-weight:600;
}

@media(max-width:768px){

  .home-card h1{
    font-size:45px;
  }

  .home-card p{
    font-size:18px;
  }
}